* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

.container {
  background: crimson;
  width: 80%;
  height: 80%;
  margin: auto;
}
.box1,
.box2,
.box3 {
  width: 20%;
  height: 20%;
  background: hotpink;
}
.box2 {
  background: ivory;
}
.box3 {
  background: navy;
}
.box1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
