* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 3.6rem;
  padding: 5rem 0rem;
  color: ivory;
}
a {
  color: ivory;
  text-decoration: none;
  font-size: 2.4rem;
}
h3 {
  font-size: 2.8rem;
  color: ivory;
}
button {
  font-size: 1.8rem;
}
nav {
  background: cornflowerblue;
  color: ivory;
  padding: 3rem;
}
nav h1 {
  float: left;
}
nav ul {
  float: right;
}
.clear {
  clear: both;
  list-style: none;
}
nav li {
  float: left;
  margin: 0rem 4rem;
}
.about {
  background-image: url(/HTML/Learning-html/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg);
  height: 80rem;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: ivory;
  padding-top: 15rem;
  text-shadow: 3px 3px 3px hotpink;
}
.about button {
  margin-top: 4rem;
  padding: 1rem 4rem;
  background: hotpink;
  border: none;
  color: ivory;
  cursor: pointer;
}
.form-section {
  text-align: center;
}

form {
}
form input,
form label,
form textarea {
  display: block;
}
form input,
form textarea {
  margin: 2rem auto;
}
form button {
  margin-bottom: 10rem;
}
