* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  display: inline-block;
  height: 20rem;
  width: 20rem;
  margin: 2rem;
  padding: 2rem;
  background: hotpink;
}
