* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 200%;
}

.container {
  background: crimson;
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
}
.box1,
.box2,
.box3 {
  width: 20%;
  height: 10%;
  background: hotpink;
}
.box2 {
  background: ivory;
}
.box3 {
  background: navy;
  position: sticky;
  top: 0%;
}
.box1 {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
